<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <title>MockupApp
    </title>
    <meta name="format-detection" content="telephone-no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/themes/default/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="/assets/components/vue-croppa/vue-croppa.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/themes/default/index.css">
    <link rel="stylesheet" href="/assets/themes/default/fonts.css">

    <link rel="stylesheet" href="/assets/themes/default/mockupapp.webflow.css">
    <link rel="stylesheet" href="/assets/themes/default/overload.css">
    <link rel="stylesheet" href="/assets/themes/default/staticscene.css">
    <link rel="stylesheet" href="/assets/components/grapick/grapick.min.css">
  </head>
<body>
  <el-container id="app" v-cloak>
    <div id="techzone" style="display:none">
      <canvas id="subrender1" style="display:none">
      </canvas>
      <canvas id="subrender2" style="display:none">
      </canvas>
    </div>
    <el-dialog title="" :visible.sync="renderProcess" :close-on-click-modal="false" width="1280px" top="125px" class="render-dialog" @open="outRenderApp()" @close="outRenderAppClose()" @closed="outRenderAppClose()">
      <span class="dialog-gap">
        <el-container v-show="waitRenderReady" v-loading="waitRenderReady" style="color:#fff!important;width: 100%;height:100px" element-loading-text="Waiting untill movieclip doesn`t published..." element-loading-background="rgba(0, 0, 0, 0)">
        </el-container>
        <div slot="footer" class="dialog-footer" v-show="URItoMovieClip != ''">
          <el-button @click = "downloadFile">Download
          </el-button>
          <el-button type="primary" @click="renderProcess = false">Close
          </el-button>
        </div>
      </span>
      <span slot="footer">
        <el-row v-if = "URItoMovieClip == ''">
          <el-col :span="24" class="infotitle">
            <h2>Please wait, we are
              <br>working on your file
            </h2>
          </el-col>
          <el-col :span = "8" v-if="loadedframe && scenestore.s_frames">
            <el-progress :show-text="false" :stroke-width="60" :percentage="Math.round(loadedframe / scenestore.s_frames * 100)"  color="#FFC600">
            </el-progress>
            <div class="overflow-titles">
              <span class="pretitle">1
              </span>
              <span class="title">Analizing you design
              </span>
            </div>
          </el-col>
          <el-col v-show="videoexport" :span = "8">
            <el-progress :show-text="false" :stroke-width="60" :percentage="hiResPreloadPercentVid"  color="#803CC3">
            </el-progress>
            <div class="overflow-titles">
              <span class="pretitle">2
              </span>
              <span class="title">Converting assets
              </span>
            </div>
          </el-col>
          <el-col v-show="videoexport" :span = "8">
            <el-progress :show-text="false" :stroke-width="60"  :percentage="pecentrender"  color="#FF5000">
            </el-progress>
            <div class="overflow-titles">
              <span class="pretitle">3
                </span>
                <span class="title">Uploading to server
              </span>
            </div>
          </el-col>
        <el-col :span = "16"  v-show="!videoexport" >
          <el-progress :show-text="false" :stroke-width="60"  :percentage="hiResPreloadPercentImg"  color="#FF5000">
          </el-progress>
          <div class="overflow-titles">
            <span class="pretitle">3
              </span>
              <span class="title">Prepare image
            </span>
          </div>
        </el-col>
      <el-col :span="24" class="infoblock" v-show="estimatedtime=='-:-' || !videoexport">Speed depends on your machine and connection
      </el-col>
      <el-col :span="24" class="infoblock" v-show="estimatedtime!= '-:-' && videoexport">${estimatedtime}
      </el-col>
      </el-row>
    </span>
  </el-dialog>
<!--
<el-dialog title="Render" :visible="renderProcess" :close-on-press-escape="false" :close-on-click-modal="false" :show-close="false" center @open="outRenderApp()">
<div>
<div v-show="URItoMovieClip == ''">
<div>[1\3] Loading base textures</div>
<el-progress class="realprogress" :percentage="Math.round(loadedframe / scenestore.s_frames * 100)"></el-progress>
</div>
<div v-show="videoexport">
<div v-show="hiResPreloadPercentVid!=0">
<div>[2\3] Loading Hi-Res textures</div>
<el-progress class="realprogress" :percentage="hiResPreloadPercentVid"></el-progress>
</div>
<div v-show="hiResPreloadPercentVid == 100">
<div>[3\3] Render mockups</div>
<el-progress :percentage="pecentrender" class="realprogress"></el-progress>
</div>
<div v-show="URItoMovieClip == ''">
Estimated time : ${estimatedtime}
</div>
</div>
<div else>
<div v-show="hiResPreloadPercentImg!=0">
<div>[2\3] Loading Hi-Res textures</div>
<el-progress class="realprogress" :percentage="hiResPreloadPercentImg"></el-progress>
</div>
</div>
<el-container v-show="waitRenderReady" v-loading="waitRenderReady" style="color:#fff!important;width: 100%;height:100px" element-loading-text="Waiting untill movieclip doesn`t published..." element-loading-background="rgba(0, 0, 0, 0)">
</el-container>
<div slot="footer" class="dialog-footer" v-show="URItoMovieClip != ''">
<el-button @click = "downloadFile">Download</el-button>
<el-button type="primary" @click="renderProcess = false">Close</el-button>
</div>
<div slot="footer" class="dialog-footer" v-show="URItoMovieClip == '' && videoexport === true">
<el-button type="primary" @click="renderProcess = false;cancelMode = true;hiResPreloadPercentVid = 0;videoexport = false;renderwebalpha = false;">Cancel</el-button>
</div>
</div>
</el-dialog>
-->
<el-header class="el-primary-background autoheight">
  <!--- <el-row>
<el-col :xs="3" :sm="3" :md="3"><el-button type="text" size="small" class="header-text">MockupApp</el-button></el-col>
<el-col :xs="18" :sm="18" :md="18" class="center">
<el-button-group>
<el-button type="primary" size="small" icon="fa fa-mouse-pointer" @click="select"></el-button>
<el-button type="primary" size="small" icon="fa fa-hand-pointer-o" @click="selectsheet"></el-button>
<el-button type="primary" size="small" icon="fa fa-pencil" @click="curvedraw"></el-button>
<el-button type="primary" size="small" icon="fa fa-circle-thin" @click="ellipsedraw"></el-button>
<el-button type="primary" size="small" icon="fa fa-square-o" @click="rectdraw"></el-button>
<el-button type="primary" size="small" icon="fa fa-star-o" @click="stardraw"></el-button>
</el-button-group>
<el-button type="primary" size="small" icon="fa fa-font" @click="textdraw"></el-button>
<el-button-group>
<el-button type="primary" size="small" icon="fa fa-undo" @click="undo"></el-button>
<el-button type="primary" size="small" icon="fa fa-repeat" @click="redo"></el-button>
</el-button-group>
</el-col>
<el-col :xs="3" :sm="3" :md="3" class="right"><el-button type="text" size="small" class="extlink-text">More tools</el-button></el-col>
</el-row>
-->
  <el-row class="headerset">
    <el-col :span="12">
      <el-breadcrumb separator="">
        <el-breadcrumb-item :to="{ path: '/' }" class="brmenu">
          <i class="icon-Menu">
          </i>
        </el-breadcrumb-item>
        <el-breadcrumb-item class="brname">${scenestore.s_name}
        </el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
    <el-col :span="12" class="right">
      <!--
<div class="floatbar"><el-input-number @change="resize" v-model="scale"  :step="stepscale" size="mini" :max="maxscale" :min="minscale" class="floatscale"></el-input-number><el-select v-model="resvalue" size="mini" placeholder="Select"><el-option v-for="item in resoptions" :key="item.value" :label="item.label":value="item.value"> </el-option> </el-select>
</div>
-->
      <!--
<el-popover ref="imageresizer" placement="bottom" trigger="click">
<el-form ref="form">
<el-form-item>
<el-row>
<el-col :span="10">
<el-input v-model="origsize[0]"></el-input>
</el-col>
<el-col :span="4">
<el-button type="primary" icon="fa fa-lock" style="width:100%"></el-button>
</el-col>
<el-col :span="10">
<el-input v-model="origsize[1]"></el-input>
</el-col>
</el-form-item>
<el-form-item>
<el-button type="primary">Resize</el-button>
<el-button type="primary">Crop</el-button>
</el-form-item>
</el-form>
</el-popover>
<el-button type="primary" size="mini"  v-popover:imageresizer>${origsize[0]}x${origsize[1]}</el-button>
-->
      <el-button type="primary" size="mini" class="menuhelp">
        <i class="icon-Help">
        </i>
      </el-button>
      <span class="divider">
      </span>
      <el-button type="primary" class="exportpng" size="mini" @click.native="exportSequence(true)">Export Still
        <span class="subbutton">4k
        </span>
      </el-button>
      <el-button type="primary" size="mini" class="exportmp4" v-popover:exportmp4>Export MP4
      </el-button>
      <span id="export-video">
      </span>
      <el-button class="subbutton2" v-popover:selectmode>${exportmode}
        <i class="icon-Arrow-down">
        </i>
      </el-button>
    </el-col>
  </el-row>
</el-header>
<el-container>
  <el-container class="el-boundary-background">
    <el-header class="autoheight">
    </el-header>
    <div class="right_float_bar">
      <el-popover placement="left-start" :width="300">
        <div>
          <h2>Adjustments
          </h2>
          Exposure
          <br>
          <el-slider v-model="effectgamma"  :step="0.1"  :min="-1" :max="1" id="effectgamma">
          </el-slider>
          <br> Saturation
          <br>
          <el-slider v-model="effectsaturation"  :step="0.1"   :min="-1" :max="1" id="effectsaturation">
          </el-slider>
          <br> Contrast
          <br>
          <el-slider v-model="effectcontrast"   :step="0.1"   :min="-1" :max="1" id="effectcontrast" >
          </el-slider>
          <br> Brightness
          <br>
          <el-slider v-model="effectbrightness"  :step="0.1"   :min="-1" :max="1" id="effectbrightness">
          </el-slider>
          <!-- Dither <br>
<el-slider v-model="effectnoise" :step="0.01" :max="0.7"></el-slider>
Pixilate <br>
<el-slider v-model="effectpixilate" :min="1" :step="0.01" :max="10"></el-slider> -->
        </div>
          <span slot="reference">
        <span class="pretitle">Effects</span>
        <el-button icon="icon-Plus" class="floatbutton button-effect">
        </el-button>
      </span>
      </el-popover>
      <br>
      <el-popover placement="left-start" :width="216" trigger="click">
        <el-tabs @tab-click="backgroundchanger">
          <el-tab-pane label="Flat">
            <colorpicker v-model="backgroundcolor" @input="updateValue">
            </colorpicker>
          </el-tab-pane>
          <el-tab-pane label="Gradient">
            <div class="deepuppane">
              <el-radio-group v-model="gradienttypevalue" size="small"  @change="gradientchange">
                <el-radio-button label="radial">Radial
                </el-radio-button>
                <el-radio-button label="linear">Linear
                </el-radio-button>
              </el-radio-group>
            </div>
            <div class="deeppane">
              <div style="height: 48px;width: 48px;text-align:center;margin:0px auto 3px auto;padding: 9px 0px 9px 0px;" v-show="colorsstack.length > 0 && gradienttypevalue=='linear'">
                <rad-slider name="a" :degree="a" @rotate="rotate">
                </rad-slider>
              </div>
              <!--<div id="grapick">-->
              <!--</div>-->
            </div>
            <div class="gradiendblock">
            <colorpicker v-model="colorgradient" @input="changeGradientPicker">
            </colorpicker>
        </div>
            <div v-if="gradientlist.length > 0" class="gradientdots">
              <img  v-for="grad in gradientlist"  :key="grad.s_id" :src="'/'+grad.s_file"  class="vc-sketch-presets-color" @click="setGradient(grad.svg_data)">
            </div>
          </el-tab-pane>
          <el-tab-pane label="Image">
            <div class="uppzone">
            <croppa v-model="croppa" :quality="6.5" :prevent-white-space="true" :width="212" :height="119"   placeholder="Drag you design here or..." placeholder-color="#fff" :placeholder-font-size="11" canvas-color="#333" accept=".png,.jpg,.gif,.mp4" :remove-button-color="'#A2A2A2'" :show-remove-button="true" initial-size="cover" initial-position="center"  @zoom="onBGImageUpdate" @new-image-drawn="onBGImageUpdate"  @move="onBGImageUpdate" @image-remove="onBGImageRemove">
            </croppa>
        </div>
          </el-tab-pane>
        </el-tabs>
        <span slot="reference">
        <span class="pretitle">Fill</span>
        <el-button icon="icon-Fill"  id="button-fill" class="floatbutton button-fill" :style="iconfill">
        </el-button>
      </span>
      </el-popover>
    </div>
    <div class="right-bottom-float-panel">

	<span class="pretitle">Mockups</span>
 <span v-for="(layer, index) in layers" :key="layer.id">
    <div v-if="layer.controller == 'mockup'">

		  <el-button icon="icon-Plus" class="floatbutton button-mockup" :style="'background:url('+cover_object[layer.id].texture.baseTexture.imageUrl+');'" @click="openUploader(layer.id)">

		</el-button>
    </div>
 </span>
    </div>
    <el-container style="position:absolute;top:0px;left:0;height:100%;right:0;background:#333;z-index:1002;overflow: hidden;" v-show="!preloadingcomlite">
      <div style="margin:0 auto;position: relative;top:40%">
        <el-progress type="circle" :percentage="basepreloading">
        </el-progress>
      </div>
    </el-container>
    <router-view @eventname="checkdataloaded">
    </router-view>
    <el-footer class="el-primary-background ">
      <!--<el-progress :percentage="loadedpercent" status="success"  :stroke-width="28" style="position:relative;">
</el-progress>-->
      <el-slider v-model="loadedframe" :max="scenestore.s_frames" :show-tooltip="false" disabled class="frameloader">
      </el-slider>

      <vue-slider v-model="currentframe" :max="scenestore.s_frames" v-bind="defaultSliderOpt">
        <template slot="label" slot-scope="{ label, active }">
          <span :class="['custom-label', { active }]" v-if="label % 1 === 0">
          </span>
        </template>
      </vue-slider>

      <!-- <el-slider v-model="loadedframe" :max="scenestore.s_frames" :show-tooltip="false" disabled class="frameloader"></el-slider> -->
      <!--  <el-slider v-model="currentframe" :max="scenestore.s_frames" :format-tooltip="testtooltip"></el-slider>-->
      <el-row class="panelcontrol">
        <el-col :xs="8" :sm="7" :md="3">
          <!--<el-button type="primary" size="small" icon="fa fa-step-backward" @click="backward"></el-button>-->
          <el-button type="primary" size="mini" style="padding-left:13px!important;" :icon="playbutton" @click="play">
          </el-button>
          <el-button type="primary" size="mini" @click="opt_repeat_btn" icon="icon-Looped" :class="repeat_btn_class">
          </el-button>
          <!--<el-button type="primary" size="small" icon="fa fa-step-forward" @click="forward"></el-button>-->
        </el-col>
        <!--<el-col :xs="16" :sm="17" :md="21">
<el-slider v-model="loadedframe" :max="scenestore.s_frames" :show-tooltip="false" disabled class="frameloader"></el-slider>
<el-slider v-model="currentframe" :max="scenestore.s_frames" :format-tooltip="testtooltip"></el-slider>
</el-col>-->
        <el-col :xs="16" :sm="17" :md="21" class="right sub-control">
          <!--v-show="fps > 0"-->
          <el-tag size="medium" :type="fpscolor" v-show="fps > 0">FPS:${fps}
          </el-tag>
          <el-tag size="medium"> ${currentframe} \ ${scenestore.s_frames}
          </el-tag>
        </el-col>
      </el-row>
    </el-footer>
  </el-container>
  <el-aside class="el-secondary-background sidebar">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Layers
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-collapse v-model="toolbars" style="margin-bottom:200px">
      <el-collapse-item :name="index" v-for="(layer, index) in layers" :key="layer.id">
        <template slot="title">
          <el-button type="text" @click.stop="layers[index].hidden = !layers[index].hidden" style="vertical-align:top">
            <i v-if="!layer.hidden" class="fa fa-eye visiblelayer">
            </i>
            <i v-if="layer.hidden" class="fa fa-eye-slash" style="color:#a0a0a0">
            </i>
          </el-button>
          <img :src="layer.icon" style="width:15%;border-radius: 50%;" v-if="layer.icon.length > 100">
          <i :class="layer.icon" v-else>
          </i>
          <span style="vertical-align:top">${layer.title}
          </span>
        </template>
        <el-card class="box-card" :header="'Component '+index">
          <div slot="header" class="clearfix">
            <span>Component ${index}
            </span>
            <el-button style="float: right; padding: 3px 0" type="text" v-if="layer.removable" @click="removelayer(index)">
              <i class="fa fa-trash-o" aria-hidden="true">
              </i>
            </el-button>
          </div>
          <div v-if="layer.controller === 'mockup'">
            <!-- Контроллер мокапов -->
            <el-select v-model="blend_mode" @change="changeblend" placeholder="Select">
              <el-option v-for="item in blend_modes" :key="item.mode" :label="item.title" :value="item.mode">
              </el-option>
            </el-select>
            <el-upload class="upload-demo" drag :on-preview="handlePreview" action="/" :on-remove="handleRemove" :file-list="fileList" list-type="picture-card">
              <i class="el-icon-upload">
              </i>
            </el-upload>
          </div>
          <div v-if="layer.controller === 'text'">
            <!-- Контроллер текста -->
          </div>
          <div v-if="layer.controller === 'shape'">
            <!-- Контроллер шейпов -->
          </div>
          <div v-if="layer.controller === 'background'">
            <!-- Контроллер фона -->
            <colorpicker v-model="backgroundcolor" @input="updateValue">
            </colorpicker>
          </div>
        </el-card>
      </el-collapse-item>
      <el-container class="el-primary-background secondary-border" style="position:absolute;height:150px;bottom:0;z-index:999;margin-right:20px;padding:10px;">
        <el-row>
          <el-col :span="24">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>Export
              </el-breadcrumb-item>
            </el-breadcrumb>
            <br>
          </el-col>
          <!--<el-col :span="24"><el-button type="primary" class="el-boundary-background" style="width:100%" v-popover:exportframe>Curent frame (png) <i class="el-icon-arrow-right el-icon-right"></i></el-button></el-col>
<el-col :span="24"><el-button type="primary" class="el-boundary-background" style="width:100%" v-popover:exportmp4>Animation (mp4) <i class="el-icon-arrow-right el-icon-right"></i></el-button></el-col>-->
        </el-row>
      </el-container>
    </el-collapse>
  </el-aside>
  <el-popover ref="exportmp4" placement="bottom" width="400" trigger="click" v-model="vformvideo">
    <h2>Receive mp4 in your inbox
    </h2>
    <el-form ref="formvideo" :model="formvideo" label-width="120px">
      <div class="customcheck">
        <el-checkbox v-model="renderwebalpha">Render with alpha channel for WEB
        </el-checkbox>
      </div>
      <!-- <el-form-item label="Filename">
<el-input v-model="formvideo.name"></el-input>
</el-form-item> -->
      <el-row class="specinput">
        <el-col class="inputtext">
          <el-input placeholder="Please input e-mail" size="midi"  v-model="formvideo.email">
          </el-input>
        </el-col>
        <el-col class="inputbutton">
          <el-button type="primary" size="midi" @click.native="videoexport=true;exportSequence()">Create
          </el-button>
        </el-col>
      </el-row>
      <div class="customcheck2">
        <el-checkbox v-model="subscribe">Subscribe for updates and new releases. Don’t worry spam free
        </el-checkbox>
      </div>
    </el-form>
  </el-popover>
  <el-popover placement="bottom" trigger="click" ref="selectmode" :value="vselectmode">
    <el-radio-group v-model="exportmode" @change="changeMode" class="modeselector">
      <el-radio-button label="SD">
        <span class="label">SD
        </span>
        <span class="resolution">1280x720
        </span>
        <span class="comm">Low quality
        </span>
      </el-radio-button>
      <el-radio-button label="HD">
        <span class="label">HD
        </span>
        <span class="resolution">1920x1080
        </span>
        <span class="comm">Recommended
        </span>
      </el-radio-button>
      <el-radio-button label="4k">
        <span class="label">4k
        </span>
        <span class="resolution">4096x2160
        </span>
        <span class="comm">You need fast machine
          <br>and connection
        </span>
      </el-radio-button>
    </el-radio-group>
  </el-popover>
</el-container>
<el-dialog class="dlgloader" title="" :visible.sync="dlgloader" :close-on-click-modal="false" :close-on-press-escape="false" :show-close="false" color="#FF5000" center>
 <el-progress :text-inside="true" :percentage="vidloader"></el-progress>
 </el-dialog>



<el-dialog title="" :visible.sync="dlgMockupUploader" :close-on-click-modal="false" :center="true">
  <div class="uploadlayer" :style="cover_upsize_style">
    <input id="uploadInput" type="hidden" >
    <croppa class="uploadbox" v-model="croppa" :prevent-white-space="true" :width="cover_width" :height="cover_height" :video-enabled="true" placeholder="" placeholder-color="#fff" :placeholder-font-size="16" canvas-color="transparent" accept=".png,.jpg,.gif,.mp4" :show-remove-button="false" initial-size="cover" initial-position="center" @new-image-drawn="onNewImage" @zoom="onZoom" @image-remove="onImageRemove">
    </croppa>
    <div :style="cover_size_style" class="coverblock" v-show="iscover">
      <div class="txt_title">recommended ${cover_recommended}
      </div>
      <div class="txt_drop">Drop your design here
      </div>
      <div class="txt_subdrop">Your can choose also mp4
      </div>
    </div>
  </div>
  <span slot="footer" class="dialog-footer" v-if="sliderShow">
    <div>
      <div v-show="videoControl" class="videocontrol">
      <!--  <el-slider v-model="videoSlider" range :max="durationvideo" @change="onVideoPosChange">
        </el-slider> -->

    <vue-slider v-model="videoSlider" range fixed :speed="0"  :show-tooltip="false"  :max="durationvideo" @callback="onVideoPosChange"></vue-slider>
    <el-button type="primary" size="mini" :icon="videoPlayButton" @click="onVideoControl"></el-button>
      </div>
      <vue-slider v-model="sliderVal" :interval="0.001" :min="sliderMin" :max="sliderMax" @callback="onSliderChange" v-bind="defaultSliderZoomOpt">
      </vue-slider>
    </div>
    <el-button type="primary"  @click.native="onUploadImageClear">Clear
    </el-button>
    <el-button type="primary"  @click.native="uploadCroppedImage">Okay
    </el-button>
  </span>
</el-dialog>
    <!-- Static Scene Device dialog   -->
    <el-dialog ref="uploadDialog" :visible.sync="staticDeviceDialog" width="595px" :close-on-click-modal="false" :center="true" class="static-device-wrap">
      <div class="uploadlayer" :style="cover_upsize_style">
        <croppa class="uploadbox" v-model="croppa" :prevent-white-space="true" :width="cover_width" :height="cover_height" :video-enabled="true" placeholder="" placeholder-color="#fff" :placeholder-font-size="16" canvas-color="transparent" accept=".png,.jpg,.gif,.mp4" :show-remove-button="false" initial-size="cover" initial-position="center" @new-image-drawn="onNewImage" @zoom="onZoom" @image-remove="onImageRemove">
        </croppa>
        <div :style="cover_size_style" class="coverblock" v-show="iscover">
          <div class="txt_title">${cover_recommended}
          </div>
          <div class="txt_drop">
            Drop your design here or <br>
            CMD+V it
            <el-button type="primary" class="uploadDialogBtn">Choose File
            </el-button>
          </div>
          <!--<div class="txt_subdrop">Your can choose also mp4-->
          <!--</div>-->
        </div>
      </div>

      <span slot="footer" class="dialog-footer" v-if="sliderShow">
      <div>
        <div v-show="videoControl" class="videocontrol">
          <!--  <el-slider v-model="videoSlider" range :max="durationvideo" @change="onVideoPosChange">
            </el-slider> -->

          <vue-slider v-model="videoSlider" range fixed :speed="0"  :show-tooltip="false"  :max="durationvideo" @callback="onVideoPosChange"></vue-slider>
          <el-button type="primary" size="mini" :icon="videoPlayButton" @click="onVideoControl"></el-button>
        </div>
        <vue-slider v-model="sliderVal" :interval="0.001" :min="sliderMin" :max="sliderMax" @callback="onSliderChange" v-bind="defaultSliderZoomOpt">
        </vue-slider>
      </div>
      <!--<el-button type="primary"  @click.native="onUploadImageClear">Clear-->
      <!--</el-button>-->
      <el-button type="primary" class="uploadDialogBtn" @click.native="uploadCroppedImage">Okey
      </el-button>
      </span>
    </el-dialog>
  </el-container>
</body>
<script src="https://unpkg.com/lodash/lodash.min.js">
</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js">
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js">
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js">
</script>
<script src="https://unpkg.com/vue-waterfall">
</script>
<script src="/assets/sceneeditor.js">
</script>
<script src="/assets/staticsceneeditor.js">
</script>
<script src="/assets/sceneload.js">
</script>
<script src="/assets/radslider.js">
</script>
<script src="https://unpkg.com/vue/dist/vue.js">
</script>
<script src="https://unpkg.com/vue-slider-component">
</script>
<script src="/assets/components/vue-croppa/vue-croppa.js">
</script>
<script src="https://unpkg.com/vuex/dist/vuex.min.js">
</script>
<script src="/assets/components/vue-color/vue-color.min.js">
</script>
<script src="https://unpkg.com/vue-router/dist/vue-router.min.js">
</script>
<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.min.js">
</script>
<script src="https://unpkg.com/element-ui/lib/index.js">
</script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/en.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.3/pixi.min.js">
</script>
<script id="lzutf8" src="https://cdn.jsdelivr.net/npm/lzutf8/build/production/lzutf8.min.js"></script>
<script src="/assets/components/pixi/pixi-filters.js">
</script>
<script src="/assets/components/pixi/pixi-projection.js">
</script>
<script src="/assets/components/pixi/PixiTextInput.js">
</script>
<script src="/assets/pixi.extended.js">
</script>
<script src="/assets/definitions.js">
</script>
<script src="/assets/keyevents.js">
</script>
<script src="/assets/mouseevents.js">
</script>
<!--<script src="/assets/pixi.core.js">
</script>-->
  <script src="/assets/staticCore.js">
  </script>
<script src="/assets/tools.js">
</script>
<script src="/assets/helpers.js">
</script>
<script src="/assets/exporter.js">
</script>
  <script src="/assets/exportStaticScene.js">
  </script>
<script src="/assets/shapes.js">
</script>
<script src="/assets/components/grapick/grapick.min.js">
</script>
<script src="/assets/core.js">
</script>
</html>
