@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x2lcv9');
  src:  url('fonts/icomoon.eot?x2lcv9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x2lcv9') format('truetype'),
    url('fonts/icomoon.woff?x2lcv9') format('woff'),
    url('fonts/icomoon.svg?x2lcv9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('fonts/Inter-UI-Regular.ttf');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-down:before {
  content: "\e914";
}
.icon-Menu:before {
  content: "\e912";
}
.icon-Stop:before {
  content: "\e913";
}
.icon-2:before {
  content: "\e910";
}
.icon-Effects:before {
  content: "\e911";
}
.icon-Behance:before {
  content: "\e900";
}
.icon-Close:before {
  content: "\e901";
}
.icon-Delete:before {
  content: "\e902";
}
.icon-Download:before {
  content: "\e903";
}
.icon-Dribbble:before {
  content: "\e904";
}
.icon-Facebook:before {
  content: "\e905";
}
.icon-Fill:before {
  content: "\e906";
}
.icon-Help:before {
  content: "\e907";
}
.icon-Lighting:before {
  content: "\e908";
}
.icon-Looped:before {
  content: "\e909";
}
.icon-Play:before {
  content: "\e90a";
}
.icon-Plus:before {
  content: "\e90b";
}
.icon-Send:before {
  content: "\e90c";
}
.icon-Transparent:before {
  content: "\e90d";
}
.icon-Twitter:before {
  content: "\e90e";
}
.icon-Upload:before {
  content: "\e90f";
}
