.st-scene-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f6f7f7;
    z-index: 1005;
    display: flex;
    justify-content: space-between;
}
.st-scene__main{
    width: 100%;
    box-sizing: border-box;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st-scene__aside{
    position: absolute;
    right: 0;
    top: 0;
    flex-basis: 230px;
    padding: 16px 18px;
}

.st-scene__aside > * {
    width: 100%;
}
.adj-wrap, .device-wrap{
    width: 215px;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: -6px 6px 10px rgba(84, 104, 115, 0.12);
}
.adj-btn{
    display: flex;
    width: 100%;
    padding: 0;
    border: 0;
    color: #1d2224;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
}
.adj-btn > span {
    display: flex;
    justify-content: flex-start;
}
.adj-icon, .device-icon{
    width: 33px;
    height:32px;
    margin-right: 8px;
}
.adj-icon{
    background-image: url("/images/icons/imgedit.svg");
}
.device-icon{
    background-image: url("/images/icons/device-icon.svg");
}
.adj-text{
    display: flex;
    align-items: center;
    /*margin-right: 50px;*/
}
.adj-arrow{
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
}
.adj-dropdown, .device{
    background-color: #f6f7f7;
    border-radius: 4px;
    padding: 12px;
    margin-top: 5px;
}
.adj-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.adj-bar__icon{
    width: 14px;
    height: 14px;
    margin-right: 12px;
}
.adj-bar__icon img{
    width:100%;
    height:100%;
}

div[role="slider"]{
    width: 149px;
}
.adj-bar .el-slider__bar {
    height: 6px;
    background-color: #fff;
}

.adj-bar .el-slider__button.el-tooltip{
    width: 12px;
    height: 12px;
    border: none;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.17);
    border-radius: 6px;
    background-color: #fff;
}

.adj-bar .el-slider__runway{
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
}
.device{
    display: flex;
    margin-bottom: 8px;
}
.arrow-icon{
    width: 11px;
    height: 12px;
    margin-right: 10px;
    background-image: url("/images/icons/arrow.svg");
}
.device-upload{
    width: 32px;
    height: 68px;
    border-radius: 4px;
    background-color: #f96f50;
    border: 1px solid #d55638;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-icon{
    width: 13px;
    height: 13px;
    background-image: url("/images/icons/upload.svg");
    cursor: pointer;
}

.device-filter-wrap{
    background-color: #f6f7f7;
    color: #747b7f;
    font-size: 11px;
    border-radius: 4px;
    padding: 6px;
}
.device-filter-header{
    display: flex;
    font-size: 11px;
}
.mat-arrow{
    margin-left: 0;
    margin-right: 10px;
}
.material-list{
    margin-top: 8px;
}
.material-list__item{
    padding: 5px;
    color: #313a40;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgba(223,227,229,0.44);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.material-list__item:last-child{
    position: relative;
}
.color-icon{
    width: 13px;
    height: 13px;
    border-radius: 6px;
    margin-right: 10px;
}

.color-icon.color{
    background: url("/images/icons/color.svg");
}
.color-btn-wrap{
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 22px;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.17);
}
.color-btn{
    width:100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ff5000;
    border: 1px solid rgba(0,0,0,0.29);
    cursor: pointer;
}

.shadow-prop{
    color: #313a40;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shadow-prop .el-input__inner{
    width:110px;
    height: 23px;
    font-size: 11px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgba(223,227,229,0.44);
}
.shadow-prop .el-select .el-input__inner:focus{
    border: 1px solid rgba(223,227,229,0.44);
}
.el-popper span{
    font-size: 11px;
}
.el-popper .popper__arrow{
    display: none;
}

.shadow-prop .el-slider__bar{
    height: 6px;
    background-color: #ffe100;
}
.shadow-prop .el-slider__runway{
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
}
.shadow-prop div[role="slider"]{
    width: 108px;
}
.shadow-prop .el-slider__button.el-tooltip{
    width: 12px;
    height: 12px;
    border: none;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.17);
    border-radius: 6px;
    background-color: #fff;
}
.static-device-wrap .el-dialog {
    width: 545px;
    height: 745px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: -6px 6px 10px rgba(84, 104, 115, 0.12);
}

.static-device-wrap .croppa-container canvas{
    background-color: #f6f7f7 !important;
    border: 2px dashed #f96f50;
}

.static-device-wrap .txt_drop{
    font-size: 17px;
    line-height: 24px;
    color: rgb(29,34,36);
}
.static-device-wrap .txt_title{
    font-size: 15px;
    line-height: 24px;
    color: #747b7f;
}