/* Layout */
.st-scene-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f6f7f7;
  z-index: 1005;
  display: flex;
  justify-content: space-between;
}
.back-btn-wrap{
    position: absolute;
    top:20px;
    left:20px;
}
.back-btn{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: -0.7px 0.7px 2px rgba(133,147,156,0.3);
    background: #ffffff url("/images/icons/left-arrow.svg");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
    cursor: pointer;
}
.st-scene__main {
  width: 100%;
  box-sizing: border-box;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.st-scene__aside {
  position: absolute;
  right: 0;
  top: 0;
  height:100vh;
  padding: 16px 18px;

}

.st-scene__aside > * {
  width: 100%;
}

/* Filters wrappers */
.adj-wrap,
.device-wrap,
.device-color-wrap,
.bg-wrap,
.export-wrap{
  width: 215px;
  min-height: 48px;
  padding: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: -0.7px 0.7px 3px rgba(0,0,0,0.1);
}

/* Filters dropdown panel */
.adj-btn {
  display: flex;
  width: 100%;
  padding: 0;
  border: 0;
  color: #1d2224;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  cursor: pointer;
}

/* Adjustments */
.adj-btn > span {
  display: flex;
  justify-content: flex-start;
}
.adj-icon,
.device-icon {
  width: 33px;
  height: 32px;
  margin-right: 8px;
  background-repeat: no-repeat;
}
.adj-icon {
  background-image: url('/images/icons/imgedit.svg');
}
.device-icon {
  background-image: url('/images/icons/device-icon.svg');
}
.adj-text {
  display: flex;
  align-items: center;
  /*margin-right: 50px;*/
}
.adj-arrow {
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
}
.adj-dropdown,
.device {
  background-color: #f6f7f7;
  border-radius: 4px;
  padding: 8px 12px 7px;
  margin-top: 5px;
}
.adj-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.adj-bar .vert-line{
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #dcdddd;
    left: 57%;
    z-index: 1001;
}
.adj-bar__icon {
  /*width: 14px;*/
  /*height: 14px;*/
  margin-right: 12px;
}
.adj-bar__icon img {
  width: 13px;
  height: 13px;
}
.adj-bar:nth-child(3) .adj-bar__icon img{
    width: 14px;
    height: 12px;
}
.adj-bar:nth-child(4) .adj-bar__icon img{
    width: 12px;
    height: 12px;
}

div[role='slider'] {
  width: 149px;
}
.adj-bar .el-slider__bar {
  height: 6px;
  background-color: transparent;
}

.adj-bar .el-slider__button.el-tooltip {
  width: 12px;
  height: 12px;
  border: none;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.17);
  border-radius: 6px;
  background-color: #fff;
}

.adj-bar .el-slider__runway {
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
  margin: 10px 0;
}

/* Device */
.device {
  display: flex;
  margin-bottom: 8px;
}
.arrow-icon {
  width: 11px;
  height: 12px;
  margin-right: 10px;
  background-image: url('/images/icons/arrow.svg');
}
.device-upload {
  width: 32px;
  height: 68px;
  border-radius: 4px;
  background-color: #f96f50;
  border: 1px solid #d55638;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-icon {
    width: 100%;
    height: 100%;
    background-image: url(/images/icons/upload.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.device-filter-wrap {
  background-color: #f6f7f7;
  color: #747b7f;
  font-size: 11px;
  border-radius: 4px;
  padding: 9px 6px;
  margin-bottom: 8px;
  cursor: pointer;
}
.device-filter-wrap:last-child{
  margin-bottom: 0;
}
.device-filter-header {
  display: flex;
  font-size: 11px;
}
.mat-arrow {
  margin-left: 0;
  margin-right: 10px;
}
.material-list {
  margin-top: 8px;
}
.material-list__item {
  padding: 5px;
  color: #313a40;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(223, 227, 229, 0.44);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.material-list__item.color-picker{
  position: relative;
}
.color-icon {
  width: 13px;
  height: 13px;
  border-radius: 6px;
  margin-right: 10px;
}

.color-icon.color {
  background: url('/images/icons/color.svg');
}
.color-btn-wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 22px;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.17);
}
.color-btn {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
}

/* Shadows */
.shadow-prop {
  color: #313a40;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shadow-prop .el-input__inner {
  width: 110px;
  height: 23px;
  font-size: 11px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(223, 227, 229, 0.44);
}
.shadow-prop .el-select .el-input__inner:focus {
  border: 1px solid rgba(223, 227, 229, 0.44);
}
.el-popper span {
  font-size: 11px;
}
.el-popper .popper__arrow {
  display: none;
}

.shadow-prop .el-slider__bar {
  height: 6px;
  background-color: #ffe100;
}
.shadow-prop .el-slider__runway {
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}
.shadow-prop div[role='slider'] {
  width: 108px;
}
.shadow-prop .el-slider__button.el-tooltip {
  width: 12px;
  height: 12px;
  border: none;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.17);
  border-radius: 6px;
  background-color: #fff;
}

/* Upload modal window */
.static-device-wrap .el-dialog {
  width: 545px;
  height: 745px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: -6px 6px 10px rgba(84, 104, 115, 0.12);
}

.static-device-wrap .croppa-container canvas {
  border: 2px dashed #f96f50;
}

.static-device-wrap .txt_drop {
  font-size: 17px;
  line-height: 24px;
  color: #1d2224;
}
.static-device-wrap .txt_title {
  font-size: 11px;
  line-height: 24px;
  color: #747b7f;
}

/*background color picker*/
.bg-icon-wrap{
    background-color: #f6f7f7;
    border-radius: 5px;
    margin-right: 8px;
}
.bg-icon{
  width: 32px;
  height: 31px;
  background: url("/images/icons/bg-picker.svg");

}
.tabs-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #e4e6e9;
  margin: 8px 0;
}
.tabs-wrap .el-radio-button .el-radio-button__inner{
  display: none;
}
.tabs-wrap label.is-active{
  border: 1px solid #f96f50;
}
.tabs-wrap .grad{
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e4e6e9;
  margin-right: 8px;
  cursor: pointer;
}
.tabs-wrap .grad.linear{
  background-image: linear-gradient(0deg, #d0d0d0 0%, #ffffff 100%);
}
.tabs-wrap .grad.radial{
  background-image: radial-gradient(circle at center, #ffffff 0%, #d0d0d0 100%);
}
.rad-slider-wrap{
  width: 198px;
  height: 66px;
  border-radius: 5px;
  background-color: #f6f7f7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}
.rad-slider-wrap .rad-slider{
  background-color: #ffffff;
  border: 1px solid #e4e6e9;
  margin: 0 12px 0 9px;
}
.rad-slider-wrap .rad-slider:before{
  box-shadow: -0.7px 0.7px 1px rgba(0,0,0,0.17);
  background-color: #f96f50;
  border: 1px solid rgba(0,0,0,0.12);
}

.rad-slider-wrap .degree-text{
  width: 39px;
  height: 25px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e4e6e9;
  color:#313a40;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gp-wrap{
  margin-bottom: 8px;
}

.bg-wrap .vc-sketch-alpha-wrap{
    margin-top: 8px;
}
/*export*/
.export-wrap{
  padding: 12px 8px;
  position: absolute;
  bottom: 38px;
  color:#313a40;
  font-size: 11px;
}
.export-wrap > *{
  box-sizing: border-box;
  padding: 0 7px;
}
.export-wrap .adj-arrow{
  top: 6px;
}
.export-wrap input, input[type="checkbox"]{
  color:#313a40;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #e4e6e9;
  outline: none;
  padding: 4px 2px;
}
.export-wrap input[type="number"]{
    width:40px;
}
.export-btn-wrap{
    display: flex;
    justify-content: space-between;
}
.export-btn{
    width: 88px;
    height: 24px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #f96f50;
    border: 1px solid rgba(40,40,40,0.26);
    outline: none;
    cursor: pointer;
}
.btn_full-width{
    width:100%;
}
.block_active{
    box-shadow: -5px 5px 10px rgba(84,104,115,0.12);
}

/*checkbox customize*/
[type="checkbox"]{
    position: relative;
    margin-right: 5px;
    left: 1px;
}
[type="checkbox"]:not(:checked):before,
[type="checkbox"]:checked:before {
    content: '';
    position: absolute;
    left: -1px; top: -1px;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #ecedef;
    cursor: pointer;
}
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
    content: '\2713\0020';
    position: absolute;
    left:1px;
    top:1px;
    font-size: 1.3em;
    line-height: 0.8;
    color: #1d2224;
    transition: all .2s;
}
[type="checkbox"]:not(:checked):after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked:after {
    opacity: 1;
    transform: scale(1);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Upload dialog customize*/
.el-dialog .uploadDialogBtn{
    width: 122px;
    height: 32px;
    font-size: 16px;
    font-weight: 300;
    line-height: 8px;
    padding: 0;
    border-radius: 4px;
    background: #f96f50;
    color: #fff;
    border: 1px solid #d55638;
    margin-top: 5px;
}
  .txt_drop .uploadDialogBtn{
      font-size: 14px;
  }
 .dialog-footer .vue-slider-component .vue-slider{
     height: 6px !important;
     border-radius: 3px;
     background-color: #edefef;
 }
.dialog-footer .vue-slider-component .vue-slider-process{
    background-color: #ffe100;
}
.dialog-footer .zoom-slider .vue-slider .vue-slider-dot{
    background: none;
    width: 12px !important;
    height: 12px !important;
    top: -4.5px !important;
    left: 5px !important;
    border-radius: 6px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.17);    background-color: #ffffff;
}

/*remove black line from scene*/
.el-workspace-background{
    background-color: #fff;
    background: none;
}

/*block animation*/
.slide-enter-active, .slide-leave-active {
    transition: all .1s ease;
}

.slide-enter, .slide-leave-to {
    height: 0;
    opacity: 0;
}

.slide-enter-to, .slide-leave {
    height: 136px;
    opacity: 1;
}

/*back button*/
.back-btn-wrap{
    position: absolute;
    top: 20px;
    left: 20px;
}
.back-btn{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: -0.707px 0.707px 2px rgba(133,147,156,0.3);
    background: #ffffff url("/images/icons/left-arrow.svg");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
}
/*grapick drag cudtomize*/
.grp-handler-selected .grp-handler-drag{
    width: 12px;
    margin: 0;
}